/* //dodać normalny reset lub normalize
// zrobić mixiny z before i after
// zrobić zmienne z fontów - wybrać font
// font-family: 'Lexend Exa', sans-serif;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Saira Stencil One', cursive;
// font-family: 'Orbitron', sans-serif;
// font-family: 'Aldrich', sans-serif;
// font-family: 'Share Tech Mono', monospace;
// font-family: 'Electrolize', sans-serif; */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.sec {
height: 100vh;
background-color: #000;
}

.welcome-ttl {
text-align: center;
font-size: 2.5rem;
font-family: 'Lexend Exa', sans-serif;
color: #fff;
position: relative; 
 
}

.welcome-ttl::before{
content: "";
display: block; 
height: 2px;
width: 30%; 
border-bottom: 2px solid #fff;
position: absolute; 
left: 30%
}

.welcome-ttl::after{
content: "";
display: block;
height: 2px;
width: 30%;
border-top: 2px solid #fff;
position: absolute; 
left: 30%
}

.photo-ttl {
text-align: center;
font-size: 1.5rem;
font-family: 'Lexend Exa', sans-serif;
color: #fff;
position: relative;
}

.photo-ttl::before{
content: "";
display: block;
height: 2px;
width: 30%;
border-bottom: 2px solid #fff;
position: absolute; 
left: 30%
}

.photo-ttl::after{
content: "";
display: block;
height: 2px;
width: 30%;
border-top: 2px solid #fff;
position: absolute; 
left: 30%
}

.photo-art{
display: block;
margin: 0 auto;
border: 2px solid #fff;
height: 400px;
width: 400px;
}

.photo-img {
    height: 396px; 
    width: 396px; 
}

.photo-info {
    height: 300px; 
    display: block; 
    color: #fff;
    text-align: justify; 
}

.gallery-ctn{
margin: 0 auto; 
width: 80%; 
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

.gallery-img {
border: 2px solid #fff;
width: 300px;
height: 300px; 
margin-bottom: 40px
}

